/* Dashboard.css */

.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.side-nav {
  width: 240px;
  flex-shrink: 0;
  background-color: #f8f9fa;
  padding: 20px;
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: white;
}
.stats label,
.stats input,
.stats button {
  color: white;
}

.stat-item {
  text-align: center;
  cursor: pointer;
  color: white;
}

.stat-item input {
  width: 50px;
  text-align: center;
  color: white;
}

.stat-value {
  font-size: 18px;
  font-weight: bold;
  color: white; /* Updated color */
}

.stat-label {
  font-size: 12px;
  color: white;
}

.goals, .monthly-progress, .scheduled {
  margin-bottom: 20px;
}

.goal-item, .schedule-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.goal-icon, .schedule-icon {
  font-size: 24px;
  margin-right: 10px;
}

.goal-info, .schedule-info {
  flex-grow: 1;
}

.goal-name, .schedule-name {
  display: block;
  font-weight: bold;
}

.goal-target, .schedule-category {
  font-size: 12px;
  color: white;
}

.goal-progress, .progress-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.monthly-progress {
  text-align: center;
}

.progress-circle {
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.schedule-date {
  font-size: 12px;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background:#ecf0f1;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
}

.app-bar {
  background-color: #0044cc;
  color: #fff;
  margin-bottom: 20px;
}

.title {
  flex-grow: 1;
}

.dashboard-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-card .MuiCardContent-root {
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #eaeaea;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

button {
  margin-top: 10px;
}

.section {
  text-align: center;
}

.section-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.right-drawer {
  width: 300px;
  flex-shrink: 0;
  background-color: #2c3e50;
  padding: 20px;
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  color: white; /* Add this line to set text color to white */
}

/* Ensure text within right-drawer is white */
.right-drawer .profile,
.right-drawer .stat-item,
.right-drawer .goal-item,
.right-drawer .monthly-progress,
.right-drawer .schedule-item {
  color: white;
}

.CircularProgressbar-text {
  fill: white !important;
}
