.dashboard-container {
  padding: 10px; /* Reduced padding */
}

.app-bar {
  background-color: #0044cc;
  color: #fff;
  margin-bottom: 10px; /* Reduced margin */
}

.title {
  flex-grow: 1;
}

.stat-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px; /* Reduced padding */
}

.dashboard-card {
  background-color: #fff;
  border-radius: 8px; /* Reduced border-radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Reduced padding */
  margin-bottom: 10px; /* Reduced margin */
}
